<%- include('cabecalho') %>

<div class="pure-g">
    <div class="pure-u-1">
        <h2>Bem-vindo ao CRUD Pessoa!</h2>
        <p>
            Este é um sistema simples para gerenciar cadastros de pessoas.
        </p>
        <p>
            Utilize o menu acima para navegar pelas funcionalidades do sistema.
        </p>
    </div>
</div>

<%- include('rodape') %>