</div> <footer class="footer">
  <div class="pure-g">
      <div class="pure-u-1">
          <p>&copy; 2023 - Desenvolvido por [Seu Nome] - Todos os direitos reservados.</p>
      </div>
  </div>
</footer>
</body>
</html>