<footer class="footer mt-5 py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-left">
        <span>&copy; <%= new Date().getFullYear() %> - CRUD Pessoa. Todos os direitos reservados.</span>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <span>Desenvolvido por <a href="#" target="_blank" rel="noopener noreferrer">Você</a></span>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 text-center">
        <span>Versão 1.0.0</span>
      </div>
    </div>
  </div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/sweetalert2.all.min.js"></script>
<script src="/js/scripts.js"></script>

</body>
</html>